<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.example.mafia.dao">
    <insert id="insert" parameterType="com.example.mafia.domain.Room">
        INSERT INTO room (roomNumber,roomName,roomId,roomCount,roomStatus)
        VALUES (#{roomNumber},#{roomName}, #{roomId}, #{roomCount}, #{roomStatus})
    </insert>
    <select id="selectRoomCount" parameterType="String" resultType="_int">
        SELECT roomCount FROM room
        WHERE roomId=#{roomId}
    </select>
    <select id="selectRoomStatus" parameterType="String" resultType="_int">
        SELECT roomStatus FROM room
        WHERE roomId=#{roomId}
    </select>
</mapper>